# Gradle
.gradle/
.kotlin/
build/

# Android Studio
.idea/
*.iml
*.iws

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/

# Output
*.apk
*.aar
*.jar
!gradle/wrapper/gradle-wrapper.jar
app/release/
patched-line/
